.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 30px 20px;
    max-width: 1200px;
}

.header_menu {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.header_menu a {
    padding: 10px 20px;
    font-size: 1.125rem;
    line-height: 1.23;
    border-radius: 5px;
    display: block;
    background-color: rgba(8, 240, 0, 0.7);
    color: #141414;
    transition: .4s ease-in;
}

.header_menu a:hover {
    opacity: 0.4;
}

@media (max-width: 700px) {
    .header {
        flex-direction: column;
        justify-items: center;
        gap: 40px;
        padding: 20px;
    }

}